OnlineAuctionSystem/ProxyBiddingCumSnipingAgent/src/META-INF/wsdl/localhost_8080/BidEntityWebService/BidEntityWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.session.ejb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.session.ejb/" name="BidEntityWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.session.ejb/" schemaLocation="http://localhost:8080/BidEntityWebService/BidEntityWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="createSnipingAuctionListing">
<part name="parameters" element="tns:createSnipingAuctionListing"/>
</message>
<message name="createSnipingAuctionListingResponse">
<part name="parameters" element="tns:createSnipingAuctionListingResponse"/>
</message>
<message name="InvalidSnipingException">
<part name="fault" element="tns:InvalidSnipingException"/>
</message>
<message name="createProxyBidding">
<part name="parameters" element="tns:createProxyBidding"/>
</message>
<message name="createProxyBiddingResponse">
<part name="parameters" element="tns:createProxyBiddingResponse"/>
</message>
<message name="InsufficientCreditsException">
<part name="fault" element="tns:InsufficientCreditsException"/>
</message>
<message name="InvalidProxyBidException">
<part name="fault" element="tns:InvalidProxyBidException"/>
</message>
<message name="getBidIncrement">
<part name="parameters" element="tns:getBidIncrement"/>
</message>
<message name="getBidIncrementResponse">
<part name="parameters" element="tns:getBidIncrementResponse"/>
</message>
<portType name="BidEntityWebService">
<operation name="createSnipingAuctionListing">
<input wsam:Action="http://ws.session.ejb/BidEntityWebService/createSnipingAuctionListingRequest" message="tns:createSnipingAuctionListing"/>
<output wsam:Action="http://ws.session.ejb/BidEntityWebService/createSnipingAuctionListingResponse" message="tns:createSnipingAuctionListingResponse"/>
<fault message="tns:InvalidSnipingException" name="InvalidSnipingException" wsam:Action="http://ws.session.ejb/BidEntityWebService/createSnipingAuctionListing/Fault/InvalidSnipingException"/>
</operation>
<operation name="createProxyBidding">
<input wsam:Action="http://ws.session.ejb/BidEntityWebService/createProxyBiddingRequest" message="tns:createProxyBidding"/>
<output wsam:Action="http://ws.session.ejb/BidEntityWebService/createProxyBiddingResponse" message="tns:createProxyBiddingResponse"/>
<fault message="tns:InsufficientCreditsException" name="InsufficientCreditsException" wsam:Action="http://ws.session.ejb/BidEntityWebService/createProxyBidding/Fault/InsufficientCreditsException"/>
<fault message="tns:InvalidProxyBidException" name="InvalidProxyBidException" wsam:Action="http://ws.session.ejb/BidEntityWebService/createProxyBidding/Fault/InvalidProxyBidException"/>
</operation>
<operation name="getBidIncrement">
<input wsam:Action="http://ws.session.ejb/BidEntityWebService/getBidIncrementRequest" message="tns:getBidIncrement"/>
<output wsam:Action="http://ws.session.ejb/BidEntityWebService/getBidIncrementResponse" message="tns:getBidIncrementResponse"/>
</operation>
</portType>
<binding name="BidEntityWebServicePortBinding" type="tns:BidEntityWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="createSnipingAuctionListing">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidSnipingException">
<soap:fault name="InvalidSnipingException" use="literal"/>
</fault>
</operation>
<operation name="createProxyBidding">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InsufficientCreditsException">
<soap:fault name="InsufficientCreditsException" use="literal"/>
</fault>
<fault name="InvalidProxyBidException">
<soap:fault name="InvalidProxyBidException" use="literal"/>
</fault>
</operation>
<operation name="getBidIncrement">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="BidEntityWebService">
<port name="BidEntityWebServicePort" binding="tns:BidEntityWebServicePortBinding">
<soap:address location="http://localhost:8080/BidEntityWebService/BidEntityWebService"/>
</port>
</service>
</definitions>