OnlineAuctionSystem/ProxyBiddingCumSnipingAgent/src/META-INF/wsdl/localhost_8080/AuctionListingEntityWebService/AuctionListingEntityWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.session.ejb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.session.ejb/" name="AuctionListingEntityWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.session.ejb/" schemaLocation="http://localhost:8080/AuctionListingEntityWebService/AuctionListingEntityWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="retrieveAllAuctionListings">
<part name="parameters" element="tns:retrieveAllAuctionListings"/>
</message>
<message name="retrieveAllAuctionListingsResponse">
<part name="parameters" element="tns:retrieveAllAuctionListingsResponse"/>
</message>
<message name="AuctionListingNotFoundException">
<part name="fault" element="tns:AuctionListingNotFoundException"/>
</message>
<message name="viewAuctionListingDetails">
<part name="parameters" element="tns:viewAuctionListingDetails"/>
</message>
<message name="viewAuctionListingDetailsResponse">
<part name="parameters" element="tns:viewAuctionListingDetailsResponse"/>
</message>
<message name="viewWonAuctionListings">
<part name="parameters" element="tns:viewWonAuctionListings"/>
</message>
<message name="viewWonAuctionListingsResponse">
<part name="parameters" element="tns:viewWonAuctionListingsResponse"/>
</message>
<portType name="AuctionListingEntityWebService">
<operation name="retrieveAllAuctionListings">
<input wsam:Action="http://ws.session.ejb/AuctionListingEntityWebService/retrieveAllAuctionListingsRequest" message="tns:retrieveAllAuctionListings"/>
<output wsam:Action="http://ws.session.ejb/AuctionListingEntityWebService/retrieveAllAuctionListingsResponse" message="tns:retrieveAllAuctionListingsResponse"/>
<fault message="tns:AuctionListingNotFoundException" name="AuctionListingNotFoundException" wsam:Action="http://ws.session.ejb/AuctionListingEntityWebService/retrieveAllAuctionListings/Fault/AuctionListingNotFoundException"/>
</operation>
<operation name="viewAuctionListingDetails">
<input wsam:Action="http://ws.session.ejb/AuctionListingEntityWebService/viewAuctionListingDetailsRequest" message="tns:viewAuctionListingDetails"/>
<output wsam:Action="http://ws.session.ejb/AuctionListingEntityWebService/viewAuctionListingDetailsResponse" message="tns:viewAuctionListingDetailsResponse"/>
<fault message="tns:AuctionListingNotFoundException" name="AuctionListingNotFoundException" wsam:Action="http://ws.session.ejb/AuctionListingEntityWebService/viewAuctionListingDetails/Fault/AuctionListingNotFoundException"/>
</operation>
<operation name="viewWonAuctionListings">
<input wsam:Action="http://ws.session.ejb/AuctionListingEntityWebService/viewWonAuctionListingsRequest" message="tns:viewWonAuctionListings"/>
<output wsam:Action="http://ws.session.ejb/AuctionListingEntityWebService/viewWonAuctionListingsResponse" message="tns:viewWonAuctionListingsResponse"/>
<fault message="tns:AuctionListingNotFoundException" name="AuctionListingNotFoundException" wsam:Action="http://ws.session.ejb/AuctionListingEntityWebService/viewWonAuctionListings/Fault/AuctionListingNotFoundException"/>
</operation>
</portType>
<binding name="AuctionListingEntityWebServicePortBinding" type="tns:AuctionListingEntityWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="retrieveAllAuctionListings">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="AuctionListingNotFoundException">
<soap:fault name="AuctionListingNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="viewAuctionListingDetails">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="AuctionListingNotFoundException">
<soap:fault name="AuctionListingNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="viewWonAuctionListings">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="AuctionListingNotFoundException">
<soap:fault name="AuctionListingNotFoundException" use="literal"/>
</fault>
</operation>
</binding>
<service name="AuctionListingEntityWebService">
<port name="AuctionListingEntityWebServicePort" binding="tns:AuctionListingEntityWebServicePortBinding">
<soap:address location="http://localhost:8080/AuctionListingEntityWebService/AuctionListingEntityWebService"/>
</port>
</service>
</definitions>