OnlineAuctionSystem/ProxyBiddingCumSnipingAgent/xml-resources/web-service-references/CustomerEntityWebService/wsdl/localhost_8080/CustomerEntityWebService/CustomerEntityWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.session.ejb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.session.ejb/" name="CustomerEntityWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.session.ejb/" schemaLocation="http://localhost:8080/CustomerEntityWebService/CustomerEntityWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="regsterPremiumCustomer">
<part name="parameters" element="tns:regsterPremiumCustomer"/>
</message>
<message name="regsterPremiumCustomerResponse">
<part name="parameters" element="tns:regsterPremiumCustomerResponse"/>
</message>
<message name="InvalidRegistrationException">
<part name="fault" element="tns:InvalidRegistrationException"/>
</message>
<message name="retrieveCreditBalance">
<part name="parameters" element="tns:retrieveCreditBalance"/>
</message>
<message name="retrieveCreditBalanceResponse">
<part name="parameters" element="tns:retrieveCreditBalanceResponse"/>
</message>
<message name="createProxyBidding">
<part name="parameters" element="tns:createProxyBidding"/>
</message>
<message name="createProxyBiddingResponse">
<part name="parameters" element="tns:createProxyBiddingResponse"/>
</message>
<message name="InsufficientCreditsException">
<part name="fault" element="tns:InsufficientCreditsException"/>
</message>
<message name="customerLogin">
<part name="parameters" element="tns:customerLogin"/>
</message>
<message name="customerLoginResponse">
<part name="parameters" element="tns:customerLoginResponse"/>
</message>
<message name="InvalidLoginCredentialException">
<part name="fault" element="tns:InvalidLoginCredentialException"/>
</message>
<portType name="CustomerEntityWebService">
<operation name="regsterPremiumCustomer">
<input wsam:Action="http://ws.session.ejb/CustomerEntityWebService/regsterPremiumCustomerRequest" message="tns:regsterPremiumCustomer"/>
<output wsam:Action="http://ws.session.ejb/CustomerEntityWebService/regsterPremiumCustomerResponse" message="tns:regsterPremiumCustomerResponse"/>
<fault message="tns:InvalidRegistrationException" name="InvalidRegistrationException" wsam:Action="http://ws.session.ejb/CustomerEntityWebService/regsterPremiumCustomer/Fault/InvalidRegistrationException"/>
</operation>
<operation name="retrieveCreditBalance">
<input wsam:Action="http://ws.session.ejb/CustomerEntityWebService/retrieveCreditBalanceRequest" message="tns:retrieveCreditBalance"/>
<output wsam:Action="http://ws.session.ejb/CustomerEntityWebService/retrieveCreditBalanceResponse" message="tns:retrieveCreditBalanceResponse"/>
</operation>
<operation name="createProxyBidding">
<input wsam:Action="http://ws.session.ejb/CustomerEntityWebService/createProxyBiddingRequest" message="tns:createProxyBidding"/>
<output wsam:Action="http://ws.session.ejb/CustomerEntityWebService/createProxyBiddingResponse" message="tns:createProxyBiddingResponse"/>
<fault message="tns:InsufficientCreditsException" name="InsufficientCreditsException" wsam:Action="http://ws.session.ejb/CustomerEntityWebService/createProxyBidding/Fault/InsufficientCreditsException"/>
</operation>
<operation name="customerLogin">
<input wsam:Action="http://ws.session.ejb/CustomerEntityWebService/customerLoginRequest" message="tns:customerLogin"/>
<output wsam:Action="http://ws.session.ejb/CustomerEntityWebService/customerLoginResponse" message="tns:customerLoginResponse"/>
<fault message="tns:InvalidLoginCredentialException" name="InvalidLoginCredentialException" wsam:Action="http://ws.session.ejb/CustomerEntityWebService/customerLogin/Fault/InvalidLoginCredentialException"/>
</operation>
</portType>
<binding name="CustomerEntityWebServicePortBinding" type="tns:CustomerEntityWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="regsterPremiumCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidRegistrationException">
<soap:fault name="InvalidRegistrationException" use="literal"/>
</fault>
</operation>
<operation name="retrieveCreditBalance">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createProxyBidding">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InsufficientCreditsException">
<soap:fault name="InsufficientCreditsException" use="literal"/>
</fault>
</operation>
<operation name="customerLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidLoginCredentialException">
<soap:fault name="InvalidLoginCredentialException" use="literal"/>
</fault>
</operation>
</binding>
<service name="CustomerEntityWebService">
<port name="CustomerEntityWebServicePort" binding="tns:CustomerEntityWebServicePortBinding">
<soap:address location="http://localhost:8080/CustomerEntityWebService/CustomerEntityWebService"/>
</port>
</service>
</definitions>